DUMMY1
DUMMY2
DUMMY3
logs
__pycache__
.ipynb_checkpoints
.*.swp
VCTK*
core*
ref*
fean*
build
*.c
monotonic_align/monotonic_align
core*
gen*
configs/libri*
inference_NAVER.py
inference.py
inference_test.py
gen.wav
filelists/libri*
filelists/vctk_listening*
filelists/vctk_slit.py